extends layout

block content
    h1= title

    ul.entries
        each author in author_list
            li
                a(href=author.url) #{author.name}
                |  (#{author.lifespan})
                //-|   (#{author.date_birth_formatted} - #{author.date_death_formatted}) age #{author.lifespan}
                
                span(style='float: right;')
                    a(href=author.url+'/update') Update
                    |  | 
                    a(href=author.url+'/delete') Delete
        else
            li There are no authors.